# Ignore emacs autosave~ and #modified# files
*~
**/*~
**/\#*

# Ignore main files
**/*main.py
**/*main.c

# Ignore object files and libraries
*.o
*.ko
*.obj
*.elf

# Ignore compiled __pycache__ folder
**/__pycache__/*