# Ignore emacs autosave~ and #modified# files
*~
**/*~
**/\#*

# Ignore main files
**/*main.py
**/*main.c

# Ignore object files and libraries
*.o
*.ko
*.obj
*.elf
*.json
*.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
